<h1>Artist#create</h1>
<p>Find me in app/views/artist/create.html.erb</p>

<%= form_for(@artist) do |f| %>
<%= f.label :name %>
<%= f.text_field :name %>
<%= f.label :bio %>
<%= f.text_area :bio %>
<%= f.submit %>
<%= %>
<% end %>